*,
*::before,
*::after {
  /* The width and height you specify include the padding and border. */
  /* The content area shrinks to fit within the specified dimensions, ensuring a more predictable layout. */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .hero-first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
    .hero-second {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  }

  .hero {
    .hero-first {
      background-color: var(--blue-100);
      border-radius: 30px;
      padding: 30px;
      .call-to-action {
        margin-top: 20px;
        margin-bottom: 10px;
        a {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .hero-second {
      background-color: var(--yellow);
      border-radius: 30px;
      padding: 0px 30px;
      img {
        object-fit: cover;
      }
    }
  }